.feather-panel   {
    .feather {
        width: 18px;
        height: 18px;
        stroke-width: 1.5;
    }
    
    .feather-sm {
        width: 14px;
        height: 14px;
    }
    
    .feather-bell,
    .feather-message-square {
        height: 20px;
        width: 20px;
    }
}
